:root {
	--bgc-color: #fff;
	--bgc-dark-color: #181818;
	--details-color: #a8dadc;
	--details2-color: #212121;
	--primary-color: #e63946;
}

/***********************/

/*HEADER*/

.header {
	width: 100%;
	z-index: 99;
	background-image: url(/media/banner-header-freccie.svg);
	background-size: cover;
}

.header ul a {
	color: var(--bgc-color);
	display: block;
	padding: 20px;
}

.header ul.menu {
	clear: both;
	list-style: none;
	overflow-x: hidden;
	background-color: var(--details2-color);
	max-height: 0;
	transition: all .2s ease-out;
}
.header ul.menu-desk li {
	position: relative;

}

.header .logo {
	padding: 20px 20px;
	float: left;
	color: var(--bgc-color);
	font-size: 25px;
}

.header .logo:hover {
	transform: scale(1.6) rotate(-45deg);
	color: var(--primary-color);
	transition: .5s;
}

.header .menu-desk {
	list-style: none;
}

/***********************/

/*SEARCH ELEMENTS*/

.cont-search {
	display: flex;
	align-items: center;
}

.search-icon {
	background-color: var(--primary-color);
	padding: 7px 10px;
	border-radius: 0 10px 10px 0;
	position: relative;
	left:-4px;
	cursor: pointer;
}

.search-icon:hover {
	background-color: #be0f1e;
	color: var(--bgc-dark-color);
}

#input-search {
	height: 30px;
	width: 80%;
	border-radius: 15px 0 0 15px;
	line-height: 30px;
	outline: none;
	border:none;
	padding: 0 10px;
	z-index: 99;
}




/**********************/
/*SEPARATORE E SUBMENU */

.sep {
	width: 100%;
	background-color: var(--details2-color);
	height: 50px;
	box-shadow: 0 0 4px var(--bgc2-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 10px;
}

.submenu-desk::-webkit-scrollbar{
	height: 4px;
}

.submenu-desk {
	display: flex;
	list-style-type: none;
	align-items: center;
	overflow-x:scroll;

}


.submenu-desk .fa-solid {
	margin-right: 8px;
}
.submenu-desk a {
	color: var(--bgc-color);
	opacity: .7;
	font-size: 13px;
	padding: 14px 30px;
	border-right: 1px solid rgba(85, 85, 85, 0.692);
}

.submenu-desk a:hover {
	opacity: 1;
	color: var(--bgc-color);
	transition: .2s;
}
.submenu-desk a i {
	color: var(--primary-color);
}
.sep .cont-social {
	margin-left: 20px;
}
.sep .cont-social .fa-facebook:hover {
	color: rgba(69, 69, 240, 0.807);
}

.sep .cont-social .fa-youtube:hover {
	color: rgb(240, 69, 69);
}
.sep .cont-social .fa-tiktok:hover {
	color: rgb(101, 97, 97);
}
.sep .cont-social .fa-twitter:hover {
	color: rgb(69, 186, 240);
}
.sep .cont-social .fa-instagram:hover {
	color: rgb(240, 69, 132);
}
.sep .cont-social .fa-brands {
	padding: 11px;
	font-size: 18px;
	border-radius: 10px;
	background-color: rgba(24, 24, 24, 0.309);

	color: var(--bgc-color);
}
.cont-submenu {
	width: 80%;
}
.menu-btn { /*CHECKBOOX*/
	display: none;
}


/**********************/

/*GESTIONE SUBMENU CATEGORY*/
.label-sub {
	width: 50px;
	height: 50px;
	position: relative;
	cursor: pointer;
}
.box-sub-category {
	position: absolute;
	left: 50%;
	bottom: 50%;
}
.box-sub-category span {
	height: 2px;
	width: 12px;
	display: block;
	position: relative;
	background-color:transparent;
	transform: rotate(45deg);
}

.box-sub-category span::before,
.box-sub-category span::after {
	content: '';
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
}

.box-sub-category span::after {
	transform: rotate(-90deg);
	background-color: #b42020;
	left:3px;
}
.box-sub-category span::before {
	transform: rotate(-180deg);
	background-color: #b42020;
	right:3px;
	top:6px;
}

.all-category {
	list-style-type: none;
	margin: 10px 20px;
}
.all-category li {
	background-color: var(--details2-color);
	margin: 6px 0;
	border-radius: 8px;
}

.all-category li a {
	display: block;
	padding: 13px 16px;
	background-color: var(--details2-color);
	color: var(--bgc-color);
	border-radius: 8px;
	font-weight: normal;

}
.all-category li a i {
	margin-right: 10px;
}

.content-category {
	display: flex;
}
.cont-sub-category {
	width: 100%;
	display: flex;
	height: auto;
	background-color: var(--bgc-dark-color);
	display: none;
	position: relative;
}
.cover-title h2 {
	text-align: center;
	color: var(--bgc-color);
	padding: 11px;
	width: 81%;
	height: 50px;
	background-color: var(--details2-color);
	position: absolute;
	top:-50px;
	right: 0;
}


#check-sub-category:checked ~ .cont-sub-category {
	display: block;
}
 .content-category fieldset .all-category .category-items a {

	font-size: 14px;
 }
/**********************/
/*MAIN*/
.main {
	background-color: var(--bgc-color);
	height: 100vh;
}