:root {
	--bgc-color: #fff;
	--bgc-dark-color: #181818;
	--details-color: #a8dadc;
	--details2-color: #212121;
	--primary-color: #e63946;
}

/***********************/

/*HEADER*/

.header {

	width: 100%;
	z-index: 99;
	background-image: url(/media/4.svg);
	background-size: cover;
}

.header ul a {
	color: var(--bgc-color);
	display: block;
	padding: 20px;
}

.header ul.menu {
	clear: both;
	list-style: none;
	overflow-x: hidden;
	background-color: var(--details2-color);
	max-height: 0;
	transition: all .2s ease-out;
}

/* .header ul li:last-child {
	background-color: var(--primary-color);
} */
.header ul li a:hover {
	background-color: rgba(24, 24, 24, 0.309);
	backdrop-filter: blur(5px);
	color: var(--bgc-color);
}

.header .logo {
	padding: 20px 20px;
	float: left;
	color: var(--bgc-color);
	font-size: 25px;
}
.header .logo:hover {
	transform: scale(1.6) rotate(-45deg);
	color: var(--primary-color);
	transition: .5s;
}


.header .menu-desk {
	list-style: none;
}


/***********************/


.cont-search {
	display: flex;
	align-items: center;
}
.search-icon {
	background-color: var(--primary-color);
	padding: 7px 10px;
	border-radius: 0 10px 10px 0;
	position: relative;
	left:-4px;
	cursor: pointer;
}
.search-icon:hover {
	background-color: #be0f1e;
	color: var(--bgc-dark-color);
}
#input-search {
	z-index: 99;
}
.menu-btn {
	display: none;
}

/**********************/

.sep {
	width: 100%;
	background-color: var(--details2-color);
	height: 50px;
	box-shadow: 0 0 4px var(--bgc2-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 10px;
}

.sep .cont-social .fa-brands {
	padding: 11px;
	font-size: 18px;
	border-radius: 10px;
	background-color: rgba(24, 24, 24, 0.309);

	color: var(--bgc-color);
}

/********/

.main {
	background-color: var(--bgc-color);
	height: 100vh;
}