* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	user-select: none;
}
html {
	overflow-x: hidden;
	max-width: 100%;
}
body {
	background-color: #33373e;
	max-width: 100%;
	overflow-x: hidden;
}
