:root {
	--bgc-color: #fff;
	--bgc-dark-color: #181818;
	--details-color: #a8dadc;
	--details2-color: #212121;
	--primary-color: #e63946;
}


@media (min-width: 914px) {

	.header {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	.header li {
		float: left;
	}

	.header ul li a:hover {
		background-color: rgba(24, 24, 24, 0.309);
		backdrop-filter: blur(5px);
		color: var(--bgc-color);
		padding: 18px 20px;
		border-bottom: 4px solid var(--primary-color);
	}
	
	.header .user-area {
		padding: 22px 10px;
		font-size: 11px;
		width: 15%;
		text-align: center;
		border-radius: 5px;
		background-color:rgba(24, 24, 24, 0.492);
		backdrop-filter: blur(2px);
	}
	.header .user-area a {
		color: var(--bgc-color);
	}

		
	.header .setting-area {
		padding: 12px 10px;
		font-size: 11px;
		width: 10%;
		text-align: center;
		border-radius: 5px;
	}
	.header .setting-area a {
		color: var(--bgc-color);
	}

	.header .menu {
		clear:none;
		float: right;
		display: none;
	}
	.oriz-container {
		display: none;
	}
	.menu-icon {
		display: none;
	}
	.header .menu-desk {
		border-bottom: none;
		margin: 1.6px;
	}
	.header .menu-desk a {
		font-size: 14px;
	}
	.submenu-desk a {
		display: flex;
		width: auto;
	}
	#input-search {
		width: 400px;
	}
	.cont-search {
		width: 400px;
	}

	.header .menu-desk li a,
	.submenu-desk li a {
		font-size: 13px;
	}
	.header .setting-area {
		margin-left:35px;
	}
	.header .setting-area .cont-table table .fa-solid {
		padding: 5px;
		font-size: 14px;
		margin: 2.5px;
	}
	.header .setting-area .cont-table table .fa-solid:hover {
		color: var(--primary-color);
		transform:scale(1.6);
	}

	/*CONTENT WINDOW SUBMENU*/

	.content-category {
		width: 100%;
		padding: 10px;
		border:1px solid #181818;
		background-color: var(--bgc-dark-color);
		float: right;
		overflow: hidden;

	}

	.sub-img-spons {
		width: 30%;
	}
	.sub-img-spons img {
		width: 80%;
		position: relative;
		right: -10px;
	}
	.sub-img-spons-right {
		width: 10%;
	}
	.sub-img-spons-right img {
		width: 155%;
		margin: 8px 0 0 12px;
	}
	fieldset {
		border-color: #2a2a2a2a;
		margin-right: 10px;
		color: #e63947c3;
		display: flex;
		font-weight: bold;
		border-radius: 7px;
	}
	fieldset:hover {
		background-color: #2e2e2e2c;
		border-color: #e6394733;
	}
	
	.all-category li a:hover {
		background-color:var(--primary-color);
	
	}
	.all-category li a:hover  i {
		transform: scale(1.5);
	}
	#all-category-title {
		display: none;
	}
@media (min-width:1100px) {

}
@media (min-width:914px) and (max-width:1100px) {
	.cont-search {
		width: 300px;
	}

 }
}