@media (max-width:698px){

	.header {
		top: 0;
		left:0;
		width: 100%;
		position: relative;
		z-index: 9;
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 40px;
		user-select: none;
	}

	.logo-box {
		border-radius: 7px;
		margin-top: 30px;
		margin-left: 20px;
		padding-left: 10px;
		display: flex;
		color: #e5ac39;
	}
	.social-box {
		box-shadow: 0 0 10px 2px #1c161637;
		padding: 15px;
		background-color: #7b16b51b;
		backdrop-filter: blur(3px);
		margin-top: 30px;
		display: flex;
		color: #e5ac39;
	}
	#box1 {
		border-radius: 50px 0 0 50px;
	}
	
	#box3 {
		border-radius: 0 50px 50px 0;
	}


	.center-div {
		display:flex;
		margin-right: auto;
	}

	.box-icon-menu {
		display: flex;
		align-items: center;
		height: 50px;
		width: 50px;
		justify-content: center;
		margin-right: 17px;
		margin-top: 20px;
		z-index: 9;
	}
	.bar-icon {
		width: 22px;
		height: 2px;
		position: relative;
		background-color: #ffffffd2;
	}
	.bar-icon::before, 
	.bar-icon::after {
		content: '';
		position: absolute;
		width: 50%;
		height: 100%;
		background-color: #ffffffd2;
	}
	.bar-icon::before {
		top: 5px;

	}
	.bar-icon::after {
		bottom: 5px;
		right: 0;
	}

	 #check-menu:checked ~ #container-menu {
		transition: .4s ease-in-out;
		transform: translateX(0%) ;
		box-shadow: 0 0 4px 0 #00000054 ;

	} 
	#container-menu {
		width: 10%;
		border-radius: 50px 50px;
		height: auto;
		background-color: #7b16b554;
		backdrop-filter: blur(3px);
		position: absolute;
		top: 10vh;
		right: 15px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 30px;
		padding: 25px;
		transform: translateX(110%);
		box-shadow: -3px 0 14px 0 #a76bdc5d;
		transition: .4s ease-in-out;
	}

	#container-menu i {
		color: #dcdcdc;
		opacity: .8;
		overflow-x: hidden;
	}
	

	/*MAIN CODE*/
	
	.main {
		width: 100%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items:center;
	}
	.under {
		position: absolute;
		width: 100%;
		height: 100vh;
		top: 0%;
		left:0%;

	}
	#container-login {
		background-color: #efefef;
		width: 90%;
		right: auto;
		border-radius: 50px 10.5px 50px 50px;
		height: 85vh;
		top: 47%;
		box-shadow: 0 0 10px 0 #cdcdcda9;
		position: absolute;
		z-index: 99;
		display: none;
	}
	#check1:checked ~ #container-login {
		display: block;
	}
	.close{
		position: absolute;
		z-index: 9;
		right: 0;
		top: 0;
		color: #fff;
		font-size: 12px;
		background-color: #a76bdc;
		padding:8px 10px 8px 12px;
		border-radius: 0 20px 0 50px;
	}
	#container-home {
		background-color: #efefef;
		width: 90%;
		border-radius: 50px;
		height: 500px;
		box-shadow: 0 0 10px 0 #cdcdcda9;
		position: absolute;
		top:47%;
		z-index: 9;
	}
	#name-desc {
		font-size:10px;
		color: #160c1f4c;
		text-align: center;
	}
	.head-home {
		display: flex;
		justify-content: space-around;
		padding: 0;
		align-items: center;
	}
	#search {
		width: 60%;
		margin: 10px 20px;
		border-radius: 50px;
		outline: none;
		line-height: 20px;
		padding:5px 20px;
		border:none;
	}
	#form-1 {
		display: flex;
		flex-direction: column;
		gap: 10px;
		padding-top: 30px;
	}
	/*INPUT CODE*/
	.input-box {

		width: 100%;
		display: flex;
		align-items: center;
	}
	.btn-box {
		display: flex;
		justify-content: center;
		gap: 10px;
		align-items: center;
	}
	.btn-box p {
		font-size: 13px;
		color: #77747657;
	}

	.input {
		border: none;
		outline: none;
		margin:auto;
		line-height: 40px;
		width: 90%;
		border-radius: 50px;
		position: relative;
		padding-left: 13%;
		color: #a76bdca0;
	}

	.input-icon {
		position: absolute;
		left:10%;
		font-size: 18px;
		opacity: .35;
		color: #8041b7;
	}
	#name:visited .input-icon {
		opacity: .8;
	}
	.icon-checkName {
		position: absolute;
		right: 40px;
		opacity: .1;
	}
	.icon-showpsw {
		position: absolute;
		right: 40px;
		opacity: .1;
	}
	.check-psw {
		display: flex;
		gap: 10px;
		justify-content: end;
		margin-right: 20px;
		align-items: center;
	}
	#psw-status {
		font-size: 11px;
		color: #7a055157;
		margin-right: 10px;
	}
	.checker {
		width: 60px;
		height: 5px;
		border-radius: 50px;
		background-color: #fff;
	}
	.easy {
		background-color: red;
	}
	.mid {
		background-color: orange;
	}
	.hard {
		background-color: greenyellow;
	}
	#btnCrea {
		background-color: #aa8fd5;
		padding: 15px 18px;
		border-radius: 50px;
		position: relative;
		color: #efefef;
		text-decoration: none;
	}
	#btnLogin {
		background-color: #e5ac39;
		border:none;
		padding: 15px 18px;
		border-radius: 50px;
		position: relative;
		color: #efefef;
		text-decoration: none;
	}
	.create-icon {
		margin-right: 4px;
	}
	/**/
	.hover-div {
		overflow: hidden;
		width: 100%;
		max-width: 100%;
	}
}	


