@media (max-width:689px) {
	.header {
		background-color: transparent;
		position: relative;
		position: fixed;
		background: transparent;
		width: 100%;
		z-index: 9;
		justify-content: end;
		align-items: center;
		bottom:40px;
	}

	.logo {
		color: #fff;
		background-color: #373737aa;
		backdrop-filter: blur(3px);
		box-shadow: 0 0 14px 14px #181818;
		border-radius: 0 50px 50px 0;
		text-decoration: none;
		margin: 12px;
		margin-left: 0;
		padding: 0 10px;
		position: absolute;
		top:0;
		left: 0;
		z-index: 9;
		width: auto;
	}

	/*NAVBAR MENU*/
	.header .navbar {
		max-width: 1000px;
		background-color: #181818;
		position: fixed;
		margin-top: -30px;
		left: 0;
		top: 4vh;
		display: block;
		width: 100%;
		height: 100vh;
		transform: translateX(100%);
		overflow: scroll;
	}
	.header .navbar #page1,#page2,#page3,#page4,#page0 {
		position: absolute;
		color: #bbbbbb;
		padding: 30px;	
		display: none;
		width: 100%;
		height: 70vh;
		top: 11vh;
		background-color: #181818;
		z-index: 9;
	}

	.header .under-menu {
		width: 100%;
		opacity: .6;
		height: 20vh;
		transform: translateX(100%);
		transition: .3s ease-in-out;
		background-color: #181818;
		position: absolute;
		bottom: -6.1vh;
		left: 0;
		display: flex;
		justify-content: start;
		align-items: center;
		z-index: 3;
		gap: 6%;
		margin-left: 30px;
	}
	.header .navbar .box-icons-navbar i:hover {
		background-color: #c28a21;
		box-shadow: 0 0 11px 0 #ffa600a8;
		color:#ffffffc9;
	}
	.header .navbar .navbar_menu {
		position: absolute;
		display: block;
		width: 100%;
		list-style: none;
	}
	.header .navbar .navbar_menu .menu_items {
		background-color: #181818;
	}
	.header .navbar .navbar_menu .menu_items video {
		border:2px solid #9b6e1a29;
		border-left:none;
		border-right:none;
	}
	.header .navbar .navbar_menu .menu_items a {
		display: block;
		text-decoration: none;
		padding: 20px;
		border-bottom: 1px solid #212121;
		color: #bbbbbb;
	}
	/*SUBMENU*/
	.header .navbar .navbar_submenu .sub-menu_items a {
		display: block;
		font-size: 13px;
		text-decoration: none;
		padding: 10px 10px;
		color: #bbbbbb;
	}
	.header .navbar .navbar_submenu .sub-menu_items a i{
		margin-right: 5px;
		opacity: .6;
	}

	.header .navbar .navbar_menu .menu_items i {
		position: absolute;
		right: 20px;
		padding: 0px;
		font-size: 23px;
		color: #ffffff49;
		top:20px;
	}


	.header .navbar .navbar_menu li {
		position: relative;
	}
	.header .navbar .navbar_menu li:Hover{
		background-color: #c28a21;
	}
	
	.header .navbar .navbar_menu li:Hover a{
		color: #181818;
	}
	.header .navbar .navbar_menu li:nth-child(4):hover {
		background-color: #181818;
	}

	

	.header .navbar .navbar_menu li .items-icon {
		opacity: 0;

	}
	.header .navbar .navbar_menu li:hover .items-icon {
		transform: scale(1.8) translateY(-10%);
		color: #ffffff;
		opacity: .1;
	}
	.header .navbar .box-submenu {
		width: 95%;
		background: #181818;
		margin: 0 auto;
	}
	.header .navbar .box-submenu .set-submenu {
		color: #c28a21;
		text-align: left;
		border:1px solid #242424;
		border-left: 4px groove #c28a2163 ;
		margin: 30px 0;
		border-radius: 0 10px 10px 10px;
		position: relative;

	}
	
	.header .navbar .box-submenu .legend-submenu {
		background-color: #242424;
		padding: 2px 30px;
		position: relative;
		font-size: 12px;
		left: -3.8px;
		border-radius: 50px 50px 50px 0;
		border-left: 4px groove #c28a2163;
	}
	.header .navbar .box-submenu .banner .sub-banner {
		padding: 50px;
		position: absolute;
		bottom:-20vh;
		opacity: .2;
	}
	.header .navbar .box-submenu .banner .sub-banner:hover {
		opacity: 1;
	}

	.header .navbar .box-submenu .left,
	.header .navbar .box-submenu .center,
	.header .navbar .box-submenu .right	{
		text-align: left;
		width: 33%;
	}
	.header .navbar .box-submenu .navbar_submenu {
		list-style: none;
	}
	.header .navbar .box-submenu .navbar_submenu li {
		background-color: #343434b1;
		border-radius: 10px;
		margin: 10px;
		padding-left: 3px;
		border-left:4px groove #212121;
	}
	
	.header .navbar .box-submenu .navbar_submenu li:hover {
		border-lefT:none;
		border-right:4px groove #c28a21;
		background-color: #9b6e1a;
	}
	.header .navbar .box-submenu .navbar_submenu li:hover .sub-icon {
		color: #161616;
	}
	.header .navbar .box-icons-navbar {
		justify-content: space-around;
		align-items: center;
		width: 100%;
		height: 80px;
		overflow: scroll;
	}
	.header .navbar .box-icons-navbar i {
		background-color: #63636343;
		box-shadow: 0 0 14px 0 #9c9c9c6d;
		padding:15px;
		margin: 0 15px;
		color:#ffffffc9;
		border-radius: 50%;
		text-align: center

	}
	::-webkit-scrollbar { /*scrollbar icone menu*/
		display: none;
	}
	

	/*ICONA MENU HAMBURGER*/
	#check-menu {
		display: none;
	}
	.box-icon {
		padding:30px 20px;
		margin-top: 12px;
		cursor: pointer;
		background-color: #373737aa;
		backdrop-filter: blur(3px);
		box-shadow: 0 0 14px 14px #181818;
		border-radius: 50px 0px 0 50px;
		z-index: 99;
	}
	.box-icon .icon-menu {
		display: block;
		width: 26px;
		height: 3px;
		background-color: #9b6e1a;
		position: relative;
	}
	.box-icon .icon-menu::before,
	.box-icon .icon-menu::after {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		background-color: #bbbbbb;
		position: absolute;
	}
	.box-icon .icon-menu::before {
		bottom:6px;
	}
	.box-icon .icon-menu::after {
		top:7px;
	}
	/* FUNZIONE APERTURA AL CLICK */
	#check-menu:checked ~ .navbar {
		top:4vh;
	}
	#check-menu:checked ~ .box-icon .icon-menu::after {
		transition: .7s ease-in-out;
		width: 26px;
		background-color: #c22121;
		transform: rotate(405deg);
		top:0px;
	}
	#check-menu:checked ~ .box-icon .icon-menu::before {
		transition: 1s ease-in-out;
		width: 26px;
		background-color: #c22121;
		transform: rotate(-405deg);
		bottom:0px;
	}
	#check-menu:checked ~ .box-icon .icon-menu {
		background-color: transparent;
	}

	.main {
		overflow-x: hidden;
		margin-top: 0vh;

	}
	.main .main-container .main-content {
		position: relative;
	}

	.main .main-container .hover-img {
		position: absolute;
		z-index: 2;
		top: 0;
	}
	.main .main-container .video-slider {
		position: relative;
	}
	.main .main-container .video-slider .slider-btn:first-child {
		top:40%;
		color: #c28a2182;
		font-size: 89px;
		background-color: transparent;
		border:none;		
		outline: none;
		z-index: 4;
		padding: 10px;
		position: absolute;
	}
	.main .main-container .video-slider .slider-btn:last-child {
		top:40%;
		color: #ffffff5d;
		font-size: 89px;
		background-color: transparent;
		border:none;		
		right: 0;
		z-index: 4;
		outline: none;
		padding: 10px;
		position: absolute;
	}
	.video-slider .slider-cont video {
		display: none;
	}
	.main .main-container .video-slider .slider-cont video:nth-child(1) {
		display: block;
	}
}