@media (max-width:689px) {
	.header {
		background-color: #181818;
		position: relative;
		height: 10vh;
		justify-content: space-between;
		align-items: center;
		bottom:0;
	}
	.header .logo {
		color: #fff;
		text-decoration: none;
		margin: 12px;
		position: relative;
		top:3px;
	}

	/*SEARCH BOX*/
	.header .box-search { /*div input search a scomparsa*/
		padding: 10px;
		width: auto;
		position: relative;
		right:7%;
		transform: translateX(-200%);
		z-index: 1;
		margin-left: 30px;
		justify-content: center;
		top:-2px;
	}
	.header #search-resoult {
		color: #fff;
		padding: 0 20px 10px 20px;
		display: block;
		position: absolute;
		top:28px;
		width:72%;
		border-radius: 0 0 20px 20px;
		background-color: #212121;
		z-index: 1;
		box-shadow: 0 0 14px 0 #212121;
	}

	.header #search-resoult ul {
		list-style: none;
	}
	.header #search-resoult ul li {
		padding: 10px;	
	}
	.header #search-resoult  ul li:nth-child(odd) {
		color: #c28a21;
	}

	.header #search-resoult ul li:hover {
		background-color: #c22121;

	}
	.header #check-search {
		display: none;
	}
	.header #check-search:checked ~ .box-search {
		transform: translateX(0%);
		transition: .4s ease-in-out;
	}
	.header .box-search #input-search {
		border-radius: 30px;
		line-height: 25px;
		padding: 0 20px;
		color: #717171;
		width: 80%;
		position: relative;
		top:2px;
		background-color: #212121;
		border:none;
		outline: none;
		z-index: 2;
	}
	.header .icon-search i {
		color: #bbbbbb;
		cursor: pointer;
		margin: 0px 30px;
		position: absolute;
		right: 25px;
		top:3.8vh;
		z-index: 2;

	}

	/*NAVBAR MENU*/
	.header .navbar {
		max-width: 1000px;
		background-color: #181818;
		display: block;
		margin-top:6vh;
		width: 100%;
		height: 90vh;
		position: fixed;
		transform: translateX(100%);
		overflow: scroll;
	}
	.header .navbar .navbar_menu li {
		position: relative;
	}
	.header .navbar .navbar_menu li:Hover{
		background-color: #c28a21;
	}
	
	.header .navbar .navbar_menu li:Hover a{
		color: #181818;
		text-transform: uppercase;
		font-size: 13px;
	}
	

	.header .navbar .navbar_menu li .items-icon {
		opacity: .1;

	}
	.header .navbar .navbar_menu li:hover .items-icon {
		transform: scale(1.8) translateY(-10%);
		color: #ffffff;
	}
	.header .navbar .box-submenu {
		width: 95%;
		background: #181818;
		margin: 0 auto;
	}
	.header .navbar .box-submenu .banner .sub-banner {
		padding: 50px;
		position: absolute;
		bottom:-20vh;
		opacity: .2;
	}
	.header .navbar .box-submenu .banner .sub-banner:hover {
		opacity: 1;
	}

	.header .navbar .box-submenu .left,
	.header .navbar .box-submenu .center,
	.header .navbar .box-submenu .right	{
		text-align: left;
		width: 33%;
	}
	.header .navbar .box-submenu .navbar_submenu {
		list-style: none;
	}
	.header .navbar .box-submenu .navbar_submenu li {
		background-color: #343434b1;
		border-radius: 10px;
		margin: 10px;
		padding-left: 3px;
		border-left:4px groove #c28a21;
	}
	
	.header .navbar .box-submenu .navbar_submenu li:hover {
		border-lefT:none;
		border-right:4px groove #c28a21;
	}
	.header .navbar .box-submenu .navbar_submenu li:hover .sub-icon {
		color: #c28a21;
	}
	.header .navbar .box-icons-navbar {
		justify-content: space-around;
		align-items: center;
		width: 100%;
		height: 80px;
		overflow: scroll;
	}
	.header .navbar .box-icons-navbar i {
		background-color: #63636343;
		box-shadow: 0 0 14px 0 #9c9c9c6d;
		padding:15px;
		margin: 0 15px;
		color:#ffffffc9;
		border-radius: 50%;
		text-align: center

	}
	::-webkit-scrollbar { /*scrollbar icone menu*/
		display: none;
	}
	
	.header .navbar .box-icons-navbar i:hover {
		background-color: #f5af169d;
		box-shadow: 0 0 14px 0 #f5ae16be;
		color:#ffffffc9;
	}
	
	.header .navbar .navbar_menu {
		position: absolute;
		display: block;
		width: 100%;
		list-style: none;
	}
	.header .navbar .navbar_menu .menu_items {
		background-color: #181818;
	}
	.header .navbar .navbar_menu .menu_items a {
		display: block;
		text-decoration: none;
		padding: 20px;
		border-bottom: 1px solid #212121;
		color: #bbbbbb;
	}
	.header .navbar .navbar_submenu .sub-menu_items a {
		display: block;
		font-size: 13px;
		text-decoration: none;
		padding: 10px 10px;
		color: #bbbbbb;
	}
	.header .navbar .navbar_submenu .sub-menu_items a i{
		margin-right: 5px;
		opacity: .6;
	}

	.header .navbar .navbar_menu .menu_items i {
		position: absolute;
		right: 20px;
		padding: 0px;
		font-size: 23px;
		color: #fff;
		top:20px;
	}


	/*ICONA MENU HAMBURGER*/
	#check-menu {
		display: none;
	}
	.box-icon {
		padding:10px;
		cursor: pointer;
	}
	.box-icon .icon-menu {
		display: block;
		width: 26px;
		height: 3px;
		background-color: #135e81;
		position: relative;
	}
	.box-icon .icon-menu::before,
	.box-icon .icon-menu::after {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		background-color: #bbbbbb;
		position: absolute;
	}
	.box-icon .icon-menu::before {
		bottom:6px;
	}
	.box-icon .icon-menu::after {
		top:7px;
	}
	/*FUNZIONE APERTURA AL CLICK*/
	#check-menu:checked ~ .navbar {
		transition: .3s ease-in-out;
		transform: translateX(0);
		top:4vh;
	}
	#check-menu:checked ~ .box-icon .icon-menu::after {
		transition: .7s ease-in-out;
		width: 18px;
		background-color: #c22121;
		transform: rotate(405deg);
		top:0px;
	}
	#check-menu:checked ~ .box-icon .icon-menu::before {
		transition: 1s ease-in-out;
		width: 18px;
		background-color: #c22121;
		transform: rotate(-405deg);
		bottom:0px;
	}
	#check-menu:checked ~ .box-icon .icon-menu {
		background-color: transparent;
	}

	.main {
		margin: -1px;
	}
}