@media (max-width:689px) {
	.header {
		background-color: #2A2B2A;
		position: relative;
		height: 7vh;
		justify-content: space-between;
		align-items: center;
	}
	.header .logo {
		color: #fff;
		text-decoration: none;
		margin: 12px;
		position: relative;
		top:3px;
	}
	/*SEARCH BOX*/
	.header .box-search {
		padding: 10px;
		width: 50%;
		position: relative;
		right:10%;
		transform: translateX(-200%);
		z-index: 1;
	}
	.header #search-resoult {
		color: #fff;
		padding: 0 20px 10px 20px;
		display: block;
		position: absolute;
		top:25px;
		width: 100%;
		border-radius: 0 0 20px 20px;
		background-color: #181818;
		z-index: 1;
	}
	.header #search-resoult ul {
		list-style: none;
	}
	.header #search-resoult ul li {
		padding: 10px;
		
	}
	.header #search-resoult ul li:hover {
		background-color: #c22121;

	}
	.header #check-search {
		display: none;
	}
	.header #check-search:checked ~ .box-search {
		transform: translateX(0%);
		transition: .4s ease-in-out;
	}
	.header .box-search #input-search {
		border-radius: 30px;
		line-height: 25px;
		padding: 0 20px;
		color: #bbbbbb;
		position: relative;
		background-color: #181818;
		border:none;
		outline: none;
		z-index: 2;
	}
	.header .box-search .label-search {
		position: absolute;
		left: 15px;
		cursor: pointer;
		padding:4px;
	}
	.header .icon-search i {
		color: #bbbbbb;
		cursor: pointer;
		margin: 0px 30px;
		position: absolute;
		right: 25px;
		top:2.4vh;
		z-index: 2;

	}
	/*NAVBAR MENU*/
	.header .navbar {
		max-width: 1000px;
		background-color: #212121;
		display: block;
		margin-top:2.99vh;
		width: 100%;
		height: 94vh;
		position: fixed;
		transform: translateX(100%);
	}
	.header .navbar .navbar_menu {
		position: absolute;
		display: block;
		width: 100%;
		list-style: none;
	}
	.header .navbar .navbar_menu .menu_items {
		background-color: #181818;
	}
	.header .navbar .navbar_menu .menu_items a {
		display: block;
		text-decoration: none;
		padding: 20px;
		color: #bbbbbb;
	}
	
	/*ICONA MENU HAMBURGER*/
	#check-menu {
		display: none;
	}
	.box-icon {
		padding:10px;
		cursor: pointer;
	}
	.box-icon .icon-menu {
		display: block;
		width: 26px;
		height: 3px;
		background-color: #135e81;
		position: relative;
	}
	.box-icon .icon-menu::before,
	.box-icon .icon-menu::after {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		background-color: #bbbbbb;
		position: absolute;
	}
	.box-icon .icon-menu::before {
		bottom:6px;
	}
	.box-icon .icon-menu::after {
		top:7px;
	}
	/*FUNZIONE APERTURA AL CLICK*/
	#check-menu:checked ~ .navbar {
		transition: .3s ease-in-out;
		transform: translateX(0);
		top:4vh;
	}
	#check-menu:checked ~ .box-icon .icon-menu::after {
		transition: .7s ease-in-out;
		width: 18px;
		background-color: #c22121;
		transform: rotate(405deg);
		top:0px;
	}
	#check-menu:checked ~ .box-icon .icon-menu::before {
		transition: 1s ease-in-out;
		width: 18px;
		background-color: #c22121;
		transform: rotate(-405deg);
		bottom:0px;
	}
	#check-menu:checked ~ .box-icon .icon-menu {
		background-color: transparent;
	}

	.main {
		margin: -1px;
	}
}