@media (max-width:698px){

	.header {
		top: 0;
		left:0;
		width: 100%;
		position: relative;
		z-index: 9;
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 40px;
		user-select: none;
	}
	.logo-box {
		border-radius: 7px;
		padding: 15px;
		margin-top: 30px;
		margin-left: 10px;
		display: flex;
		color: #e5ac39;
	}
	.social-box {
		border-radius: 7px;
		box-shadow: 0 0 10px 2px #1c161637;
		padding: 15px;
		margin-top: 20px;
		margin-left: 10px;
		display: flex;
		color: #e5ac39;
	}

	.center-div {
		display:flex;
	}
	.box-icon-menu {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 30px;
		margin-top: 20px;
		z-index: 9;
	}
	.bar-icon {
		width: 22px;
		height: 2px;
		position: relative;
		background-color: #ffffffd2;
	}
	.bar-icon::before, 
	.bar-icon::after {
		content: '';
		position: absolute;
		width: 50%;
		height: 100%;
		background-color: #ffffffd2;
	}
	.bar-icon::before {
		top: 5px;

	}
	.bar-icon::after {
		bottom: 5px;
		right: 0;
	}


	/*MAIN CODE*/
	
	.main {
		width: 100%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items:center;
	}
	.under {
		position: absolute;
		width: 100%;
		height: 100vh;
		top: 0%;
		left:0%;

	}
	#container {
		user-select: none;
		background-color: #e5ac39;
		width: 90%;
		border-radius: 50px 50px;
		height: 55vh;
		position: relative;
		top:20vh;
		z-index: 9;
	}
	#container2 {
		background-color: #e9e9e9;
		border-radius: 10px;
		width: 90%;
		height: 40vh;
		z-index: 9;
		bottom:-80vh;
		position: absolute;
		margin-top: 100px;
	}
	 #check-menu:checked ~ #container-menu {
		transition: .4s ease-in-out;
		transform: translateX(0%) ;
		box-shadow: 0 0 4px 0 #00000054 ;

	} 
	#container-menu {
		width: 10%;
		border-radius: 50px 50px;
		height: auto;
		background-color: #7b16b554;
		backdrop-filter: blur(3px);
		position: absolute;
		top: 10vh;
		right: 15px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 30px;
		padding: 25px;
		transform: translateX(100%);
		box-shadow: -3px 0 14px 0 #a76bdc5d;
		transition: .4s ease-in-out;
	}

	#container-menu i {
		color: #e5ac39;
		opacity: .8;
	}
}	


