:root {
	--bgc-color: #fff;
	--bgc-dark-color: #181818;
	--details-color: #a8dadc;
	--details2-color: #212121;
	--primary-color: #e63946;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	text-decoration: none;
	z-index: 1;

}
body {
	background-color: var(--details2-color);
}

.checkbox {
	display: none;
}


/**********************/

/*SCROLL-BAR*/
::-webkit-scrollbar{
    width:0.4em;
    height:0.8em;
	background: var(--details2-color);
	margin-right: 10px;
}
::-webkit-scrollbar:hover{
    background-color:rgba(230, 57, 71, 0.481) ;
	border: none;
	height: 10px;
}
::-webkit-resizer{
    -webkit-border-radius:4px;
    background-color:#ccc;
	border: none;
}
::-webkit-scrollbar-thumb{
    min-height:0.8em;
    min-width:0.8em;
    -webkit-border-radius:4px;
    background-color: var(--primary-color);
	border: none;
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgb(247, 87, 87);
	border: none;
}
::-webkit-scrollbar-thumb:active{
    background-color:#e63946;
	border: none;
}


.show {
	display: block;
}
.hidden {
	display: none;
}