:root {
	--bgc-color : #fffafb;
	--bgc2-color : #2b2c28;
	--details-color : #7de2d1;
	--primary-color : #339989;
	--secondary-color : #131515;
}
@media (max-width:698px) {
	.header {
		background-color: #fff;
	}
	/* HAMBURGER BOX */
	.hamburger-box {
		width: 60px;
		position: absolute;
		user-select: none;
		right: 75px;
		bottom: -100px;
		margin: 15px;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index:10;
	}
	.hamburger-box i {
		font-size: 22px;
		z-index:9;
		background-color: #33998ac9;
		backdrop-filter: blur(2px);
		color: var(--bgc-color);
		padding: 15px;
		box-shadow: 0 0 14px 0 #2b2c2856;
		border-radius: 50%;
	}
	#check-menu:checked ~ .navbar {
		transform: translateY(-100%);
	}
	#check-menu:checked ~ .navbar {
		transform: translateY(0%);
	}
	/* NAVMENU */
	.navbar {
		display: flex;
		flex-direction: column;
		padding: 80px 10px 5px 10px;
		gap: 30px;
		width: 100%;
		position: absolute;
		right: 0;
		transition: .2s ease-in-out;
		top:0px;
		z-index: 0;
		background-color: var(--primary-color);
		transform: translateY(-100%);
	}

	#img-bottom-nav {
		position: absolute;
		bottom: -131px;
		right: 0;
		z-index: 9;
	}

	#header-logo {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 9;
	}
	.navmenu {
		list-style: none;
		display: flex;
		flex-direction: column;
		gap: 15px;
		width: 100%;
	}
	.navitem {
		color: var(--bgc-color);
		width: 100%;
		overflow: hidden;
		display: flex;
		align-items: center;
		gap: 10px;
		position: relative;
		background-color: var(--primary-color);
		box-shadow: 0 0 14px 0 #2b2c2843;
		border-radius: 10px;
		z-index: 9;
		border-bottom: 2px solid #7de2d120;
	}
	.navitem:active {
		background-color: var(--details-color);
		color: var(--primary-color);
	}
	.navitem span {
		width: 100%;
		margin-left: 10px;
		position: relative;
		z-index: 9;
	}
	.navitem a {
		display: block;
		text-decoration: none;
		color: var(--bgc-color);
		user-select: none;
		width: 100%;
		padding: 20px 0;
	}
	.navitem i {
		font-size: 20px;
		position: absolute;
		margin-left: 10px;
	}
	.navitem i:last-child {
		position: absolute;
		font-size: 105px;
		transform: rotate(-34deg);
		opacity: .1;
		right: 10px;
		z-index: 0;
		top:-25px;
		user-select: none;

	}
	.label-itemnav {
		padding-left: 35px;
	}
	.bi-class {
		display: flex;
		justify-content: space-around;

	}
	.bi-class .navitem {
		background-color: var(--primary-color);
		color: var(--bgc-color);
		padding: 15px;
		border-radius: 50px;
		box-shadow: 0 0 14px 0 #2b2c2886;
		margin-top: 10px;
		position: relative;
		display: flex;
		gap: 10px;
		margin: 10px;
		text-transform: uppercase;
		overflow: hidden;
		justify-content: center;	
	}
	.bi-class .navitem span {
		padding-left: 20px;
	}
	.navitem-support {
		background-color: var(--bgc-color);
		color: var(--primary-color);
		padding: 10px;
		border-radius: 50px;
		box-shadow: 0 0 14px 0 #2b2c2886;
		margin-top: 10px;
		position: relative;
		width: 30%;
		display: flex;
		font-size: 22px;
		margin: 10px;
		overflow: hidden;
		justify-content: center;
	}
	.bi-class .navitem:first-child i {
		position: absolute;
		font-size: 65px;
		transform: rotate(-35deg);
		opacity: .2;
		left: 10px;
		top:0px;
	}



}