* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	z-index: 0;
	font-family: sans-serif;
}
body {
	background-color: beige;
}
h2 {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	border-left: 10px solid #8c7336;
}
fieldset {
	width: 90%;
	margin: 0 auto;
	font-size: 14px;
	padding:10px;
	border-color: beige;
	background-color: #ffffff79;
	border-radius: 10px;
	padding-bottom: 30px;
}
#f2 {
	margin-top: 30px;
	padding-bottom: 0;
}
#l2 {
	font-size: 18px;
	text-align: center;
}
legend {
	font-weight: bold;
	margin-bottom: 10px;
}
audio {
	margin-left: 20px;
	margin-bottom: 20px;
}
