/*VARIABILI DI STILE*/
:root {
	--bgc1-color: #353535; --bgc1-transp-color: #3535354a;
	--bgc2-color: #282828; --bgc2-transp-color: #1818188b;
	--bgc3-color: #284b63;
	--form-color: #f2f2f2;
	--details-color: #3c6e71;
	--extra1-color: #d9d9d9;
	--extra2-color: #eb5e28;
	--extra3-color: #aec3b0;
	--shadow1-color: #181818d4;
	--shadow2-color:
}

/************************/

/*CHECKBOX & PAGE*/
.text-check { /*testo label checkbox*/
	display: inline;
	padding: 10px;
	color: var(--extra1-color);
}

.checkbox {
	display: none;
}

.page { /*Contenuto model*/
	display: flex;
	position: absolute;
	background-color: #3c6e71;
	width: 75%;
	height: 68.2vh;
	bottom: 0;
	right: 0;
	display: none ;
	z-index: 9;
}
#page-1 { /*id prima page*/ 
	background-color: var(--bgc1-color);
}
.page-title {
	color: var(--extra1-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 20px;
	padding: 10px 30px;
}

.content-page {
	background-color: var(--bgc2-color);
	width: 90%;
	height: 70%;
	margin: 10px auto;
	overflow: scroll;
}

/************************/

/*CHECKBOX & PAGE*/

#item1-left:hover #page-1 {
	display: block;
}
#item1-left:hover .title-leftmenu {
	text-align: left;
}

#item2-vert:hover #page-2 {
	display: block;
}
#item1-vert:hover .content-page {
	display: block;
}

/*ICONE PAGES*/
.fa-html5 {
	color: rgba(227, 76, 38, 0.717);
}

.fa-css3-alt {
	color:rgba(38, 76, 228, 0.717);
	border-right: 1.4px solid var(--details-color);
	padding-right: 15px;
}

.fa-brush {
	margin-left:0;
	padding-left: 0;
}

/*ELEMENTI FOOTER PAGES ( BTN-VIEW - DOWNLOAD ETC */
.view-container {
	margin:0 20px 20px 20px;
	position: absolute;
	right: 35px;
	bottom:0px;

}
.text-view {
	color: var(--form-color);
}
.btn-view {
	background-color:var(--details-color);
	padding: 10px 30px;
	border-radius: 10px;
	margin-left:15px;
}

.fa-eye {
	color: var(--extra1-color);
	margin-right: 10px;
}
.fa-download {
	background-color: var(--extra2-color);	
	padding: 10px 20px;
	border-radius: 10px;
}

/*SEZIONE MODEL TYPE*/

.box__mod-type {
	box-shadow: 0 0 14px 0 var(--shadow1-color) ;
	background-color: var(--bgc1-color);
	border-radius: 7px;
	width: auto;
	
}

.type-list {
	display: flex;
	list-style-type: none;
	padding: 10px;
}

.type-icons:hover {
	color: var(--details-color);
}

.type-items {
	margin:0 10px;
	color: var(--bgc2-transp-color);
}
