.header {
	padding: 15px;
	position: relative;
	z-index: 99;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#box-icon-header {
	background-color: #dba51c;
	box-shadow: 0 0 14px 0 #dba51c85;
	box-shadow: 0 0 5px 10px #eaeaea14;
	padding: 5px;
	display: flex;
	justify-content: space-between;
	border-radius: 50px;
	position: absolute;
	right: 20px;
	width: 30%;
	transition: all .4s ease-in-out;
	z-index: 99;
}
#box-search {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 4px;
	opacity: 0;
	transition: all .4s ease-in-out;
}
#search-bar {
	border:none;
	border-radius: 50px;
	position: absolute;
	outline: none;
	line-height: 20px;
	padding: 5px 10px 5px 20px;

}
.box-icon {
	background-color: #ffffff31;
	width: 30px;
	height: 30px;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	z-index: 109;
}
.box-icon:last-child {
	background-color: #ffffffe5;
}
.box-icon:last-child i {
	color: #dba51c;
}
.box-icon i {
	color: #eaeaea;
}
#close-menu {
	display: none;
}
.menu-page {
	width: 100%;
	height: 150vh;
	background-color: #fff;
	position: absolute;
	top: 0px;
	left: 0;
	max-height: 0vh;
	transition: all 0.5s ease-in-out;
}


/*CODICE PARALLAX*/
#circle-1 {
	background-color: #dba51c;
	width: 300px;
	transition: all .4s ease-in-out;
	height: 300px;
	border-radius: 50%;
	left: 12.5%;
	top: 25%;
	position: absolute;
	z-index: 0;
	box-shadow: 0 0 5px 10px #eaeaea14;
}
#circle-2 {
	background-image: linear-gradient(to left, #dba51c, #7a5b0c);
	width: 100px;
	transition: all .4s ease-in-out;
	height: 100px;
	border-radius: 50%;
	top: 10%;
	position: absolute;
	z-index: 0;
	box-shadow: 0 0 5px 10px #eaeaea14;
	transform: translateX(-50%);
}
#circle-3 {
	background-color: #eaeaea14;
	width: 200px;
	transition: all .4s ease-in-out;
	height: 200px;
	border-radius: 50%;
	top: -10%;
	position: absolute;
	z-index: 0;
	box-shadow: 0 0 5px 10px #eaeaea14;
	transform: translateX(-25%);
}
#circle-4 {
	background-color: #eaeaea14;
	width: 50px;
	transition: all .4s ease-in-out;
	height: 50px;
	border-radius: 50%;
	top: 20%;
	left: 50%;
	position: absolute;
	z-index: 0;
	transform: translateX(50%);
	box-shadow: 0 0 5px 10px #eaeaea14;
}
#parallax-container {
	width: 100%;
	position: relative;
	height: 100vh;
	transition: all .4s ease-in-out
}

#parallax-container img {
	position: absolute;
	width: 100%;
	margin-top: -100px;
}
#txt-png {
	top: -100px;
	margin-top: 0;
	z-index: 9;
	transition: all .4s ease-in-out;
}
#ingredienti {
	position: absolute;
	top: 30%;
	display: flex;
	flex-direction: column;
	gap: 40px;
	left: 10px;
	transform: translateX(-100%);
	transition: all .4s ease-in-out;
}
.raw {
	background-color: #fff;
	padding: 10px 30px;
	position: relative;
	width: 300px;
	transform: translateX(-10%);
}
/*MAIN*/

main {
	width: 100%;
	height: 40vh;
	display: flex;
	align-items: start;
}
#sec-1 {
	width: 100%;
	height: 100%;
	display: flex;
	background-color: #000;	
}
